@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.header {
  font-family: "Archivo";
  font-size: 16px;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #fff;
}
.header__title {
  display: none;
}
.header a {
  text-decoration: none;
  color: #000;
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}
.header__container .header__left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.header__container .header__burger {
  width: 20px;
  height: 20px;
}
.header__container .header__logo {
  width: 36px;
  height: 36px;
  box-shadow: 0px 5px 15px rgba(139, 139, 139, 0.25);
  text-align: center;
  line-height: 41px;
  margin-left: 40px;
}
.header__container .header__text {
  margin-left: 10px;
  font-size: 0.68em;
}
.header__container .header__icons-search {
  margin: 0 20px;
}
.header__menu {
  display: none;
}
.header__menu-burger {
  display: none;
}
.header__menu-burger-active {
  display: block;
  width: 100%;
  line-height: 2em;
  padding: 10px;
}
.header__menu-burger-active p {
  margin-left: 20px;
  font-weight: 600;
  font-size: 1em;
}
@media only screen and (min-width: 600px) {
  .header__burger {
    display: none;
  }
  .header__left {
    width: 10%;
  }
  .header__menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 800px) {
  .header {
    background-color: #000;
    height: 60px;
  }
  .header__title {
    width: 80%;
    margin: auto;
    display: block;
    color: #fff;
    font-size: 0.9em;
    padding: 5px 0;
  }
  .header__container {
    width: 80%;
    margin: auto;
    background-color: #fff;
  }
  .header__icons img {
    border: 2px solid rgba(133, 133, 133, 0.3);
    padding: 6px;
  }
}

.presentation {
  width: 100%;
  background-color: #333333;
  color: #FFFFFF;
  font-size: 14px;
}
.presentation__container {
  margin-left: 20px;
  padding: 75px 0;
}
.presentation__container p:first-child {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.9em;
  line-height: 1.5em;
  letter-spacing: 2.8px;
}
.presentation__container p {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5em;
  line-height: 1.2em;
  letter-spacing: -1.2px;
  margin-top: 40px;
}
.presentation__container button {
  font-family: "Archivo";
  width: 217px;
  height: 60px;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 2.8px;
  border: none;
  color: #FFFFFF;
}
.presentation__container .presentation__tour {
  margin-top: 40px;
  background-color: #BEAD8E;
}
.presentation__container .presentation__learn {
  margin-top: 24px;
  background-color: #333333;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
@media only screen and (min-width: 450px) {
  .presentation__container p {
    font-size: 4em;
  }
}
@media only screen and (min-width: 500px) {
  .presentation .presentation__learn {
    margin-left: 2%;
  }
}
@media only screen and (min-width: 600px) {
  .presentation__container p {
    font-size: 5em;
  }
}
@media only screen and (min-width: 800px) {
  .presentation__container {
    width: 70%;
    margin: auto;
  }
  .presentation__container p:first-child {
    margin-top: 100px;
  }
}

.contactPage {
  width: 100%;
}
.contactPage .contactPage__presentation {
  height: 265px;
  background-color: #333333;
  color: #FFFFFF;
}
.contactPage .contactPage__presentation h5 {
  display: inline-block;
  margin-top: 75px;
  margin-left: 20px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.8px;
}
.contactPage .contactPage__presentation h1 {
  margin-top: 16px;
  margin-left: 20px;
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
}
.contactPage .contactPage__hotel .contactPage__data {
  height: 189px;
  width: 100%;
  display: flex;
  margin-top: 24px;
}
.contactPage .contactPage__hotel .contactPage__data img {
  width: 40px;
  height: 40px;
  margin-left: 32px;
  margin-top: 47px;
}
.contactPage .contactPage__hotel .contactPage__data .contactPage__hotelText {
  margin-left: 27px;
  width: 200px;
}
.contactPage .contactPage__hotel .contactPage__data .contactPage__hotelText h1 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 46.5px;
  margin-bottom: 20px;
}
.contactPage .contactPage__hotel .contactPage__data .contactPage__hotelText .contactPage__subtitle {
  font-family: "Archivo";
  font-size: 15px;
  color: #777777;
}
.contactPage .contactPage__hotelNumber {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 234px;
  letter-spacing: -6px;
  color: #F8F8F8;
  margin-left: 130px;
}
.contactPage .contactPage__map {
  width: 90%;
  height: 200px;
  background: #D4D4D4;
  margin: 0 auto;
  margin-top: 24px;
}
.contactPage .contactPage__buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Roboto";
}
.contactPage .contactPage__buttons button {
  background-color: #333333;
  color: #BEAD8E;
  border: none;
  border-radius: 8px;
  margin-right: 20px;
  padding: 10px;
}
.contactPage .contactPage__buttons input, .contactPage .contactPage__buttons select {
  border-radius: 8px;
  padding: 10px;
  padding-left: 10px;
  margin-right: 10px;
}
.contactPage .contactPage__results {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Roboto";
}
.contactPage form {
  text-align: center;
  margin-top: 44px;
  width: 90%;
  margin: 0 auto;
}
.contactPage form .contactPage__inputs {
  width: 100%;
}
.contactPage form .contactPage__inputs .contactPage__input {
  width: 100%;
  height: 67px;
  background-color: #F8F8F8;
  border: none;
  margin-top: 16px;
  padding-left: 20px;
}
.contactPage form .contactPage__textarea {
  width: 100%;
  height: 175px;
  border: none;
  background-color: #F8F8F8;
  margin-top: 16px;
  padding-top: 20px;
  padding-left: 20px;
}
.contactPage form .contactPage__button {
  width: 258px;
  height: 60px;
  background: #BEAD8E;
  color: #FFFFFF;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.2px;
  margin-top: 36px;
}
@media only screen and (min-width: 1000px) {
  .contactPage .contactPage__presentation h5, .contactPage .contactPage__presentation h1 {
    margin-left: 150px;
  }
  .contactPage .contactPage__hotel {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 110px;
  }
  .contactPage .contactPage__map {
    width: 80%;
    height: 700px;
  }
  .contactPage form {
    width: 70%;
    margin: 0 auto;
    margin-top: 130px;
  }
  .contactPage form .contactPage__inputs {
    column-count: 2;
    column-gap: 19px;
    column-fill: auto;
    width: 100%;
  }
  .contactPage form .contactPage__textarea {
    height: 250px;
  }
}

.availability {
  font-family: "Roboto";
  padding-bottom: 36px;
  background-color: #222222;
  color: #FFFFFF;
}
.availability__form {
  width: 100%;
  text-align: center;
}
.availability__form label {
  display: inline-block;
  margin-top: 36px;
  width: 270px;
  text-align: left;
}
.availability__form .availability__input {
  padding: 5px;
}
.availability__form .availability__input input {
  width: 270px;
  border: none;
  color: #BEAD8E;
  background-color: #222222;
  border-bottom: 2px solid #BEAD8E;
  padding: 14px;
}
.availability__form .availability__input input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.availability__form .availability__submit {
  background-color: #BEAD8E;
  border: none;
  color: #fff;
  width: 240px;
  height: 60px;
  margin-top: 42px;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
}
@media only screen and (min-width: 900px) {
  .availability__form {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .availability .availability__input {
    width: 30%;
  }
}

.discover__text {
  font-family: "Archivo";
  background: #F9F9F9;
  padding: 30px 20px;
  font-size: 14px;
}
.discover__text p:first-child {
  font-weight: 700;
  font-size: 0.9em;
  color: #777777;
  letter-spacing: 2.8px;
}
.discover__text h1 {
  margin-top: 30px;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.2em;
  line-height: 60px;
  letter-spacing: -1.2px;
}
.discover__text p {
  font-size: 0.85em;
  font-weight: 400;
  line-height: 24px;
  color: #777777;
  margin-top: 16px;
}
.discover__text button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #BDAC8D;
  font-weight: 700;
  font-size: 1em;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: #FFFFFF;
  margin-top: 24px;
}
.discover__images {
  font-size: 14px;
}
.discover__images img {
  margin-top: 54px;
}
.discover__images h1 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 2em;
  line-height: 30px;
  letter-spacing: -0.9px;
  margin-top: 30px;
}
.discover__images p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1em;
  line-height: 22px;
  margin-top: 21px;
}
.discover__images .discover__image {
  width: 250px;
  height: 280px;
  margin: auto;
}
.discover__images .discover__image1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/reception.jpg");
}
.discover__images .discover__team {
  text-align: center;
  background-image: url("../img/iconos_svg/backgroundTeam.svg");
  background-repeat: no-repeat;
  background-position: right 50px;
  color: #111;
  box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
}
.discover__images .discover__image2 {
  margin-top: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/luxury-room.jpg");
}
.discover__images .discover__luxury {
  text-align: center;
  background-color: #222;
  color: #fff;
}
@media only screen and (min-width: 600px) {
  .discover__text p {
    font-size: 1em;
  }
  .discover__images {
    margin-top: 20px;
    display: grid;
    grid-template-areas: 50% 50%/50% 50%;
    align-content: center;
    justify-content: center;
    gap: 20px;
  }
  .discover__images .discover__image {
    margin: 0;
    max-width: 250px;
  }
  .discover__images .discover__image1 {
    grid-column: 2;
    grid-row: 1;
  }
  .discover__images .discover__team {
    grid-column: 1;
  }
}
@media only screen and (min-width: 1000px) {
  .discover {
    display: grid;
    grid-template-columns: 55% 45%;
  }
  .discover__text {
    grid-column: 2;
  }
  .discover__images {
    grid-column: 1;
    grid-row: 1;
    justify-content: end;
  }
}

.footer__container {
  background-image: url("../img/iconos_svg/footer.svg");
  margin-top: 60px;
  font-size: 14px;
  padding: 30px 20px;
  font-family: "Archivo";
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}
.footer__text {
  max-width: 280px;
  font-weight: 400;
  font-size: 1em;
  line-height: 26px;
  color: #777777;
}
.footer__text .footer__icon {
  margin-left: 10px;
  margin-top: 20px;
  border: 8px solid #F8F8F8;
}
.footer__title {
  padding: 20px 0;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.7em;
}
.footer__service {
  margin: 0 auto;
  height: 250px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.9em;
  line-height: 40px;
  column-count: 2;
  column-gap: 19px;
  column-fill: auto;
  color: #777777;
}
.footer__contact .footer__box {
  display: flex;
  align-items: center;
  padding: 15px;
}
.footer__contact .footer__box img {
  height: 40px;
  width: 40px;
}
.footer__contact .footer__box-title {
  font-family: "Old Standard TT";
  font-size: 1.2em;
  line-height: 20px;
  padding-left: 20px;
}
.footer__contact .footer__box-subtitle {
  font-family: "Archivo";
  font-size: 0.75em;
  color: #777777;
}
.footer__copyright {
  padding: 10px 20px;
  background-color: #F8F8F8;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__copyright-links {
  display: flex;
  gap: 10px;
}
.footer__copyright-links a {
  text-decoration: none;
  color: #222222;
}
@media only screen and (max-width: 478px) {
  .footer__copyright-links {
    margin-top: 20px;
  }
}

.slider {
  text-align: center;
  font-size: 14px;
  padding: 50px 0;
}
.slider h5 {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 2.8px;
  color: #777777;
}
.slider h1 {
  margin-top: 24px;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.2em;
  letter-spacing: -1.2px;
  color: #222222;
}
.slider__icons {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  width: 256px;
  height: 40px;
  box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
}
.slider__images {
  z-index: 0;
  margin-top: 24px;
}
.slider__item {
  max-width: 700px;
  max-height: 400px;
}
.slider__button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  color: #111;
  --swiper-navigation-size: 10px;
}
.slider__button:hover {
  background-color: #BDAC8D;
  color: #fff;
}

.video {
  background: #222222;
  font-size: 14px;
  font-family: "Archivo";
}
.video__container {
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.video__text {
  max-width: 400px;
}
.video h5 {
  color: #BDAC8D;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 2.8px;
}
.video h1 {
  padding: 20px 0;
  font-family: "Old Standard TT";
  color: #fff;
  font-weight: 400;
  font-size: 3.5em;
  line-height: 60px;
  letter-spacing: -1.2px;
}
.video p {
  font-weight: 400;
  font-size: 0.85em;
  line-height: 24px;
  color: #C2C2C2;
}
.video__media {
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
  height: auto;
}
.video button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #BDAC8D;
  font-weight: 700;
  font-size: 1em;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: #FFFFFF;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
}
@media only screen and (min-width: 900px) {
  .video {
    background: linear-gradient(to right, #222222 0%, #222222 70%, #BDAC8D 70%, #BDAC8D 100%);
  }
  .video__container {
    gap: 50px;
    justify-content: center;
  }
  .video__text {
    width: 35%;
  }
  .video__media {
    width: 40%;
  }
}

.facilities {
  font-family: "Archivo";
  font-size: 14px;
  padding: 30px 20px;
}
.facilities h5 {
  color: #777777;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-align: center;
}
.facilities h1 {
  padding: 15px 0;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.2em;
  letter-spacing: -1.2px;
  text-align: center;
}
.facilities .slider__pagination {
  --swiper-theme-color: #BDAC8D;
}
.facilities .slider__facilities {
  width: 100%;
  max-width: 250px;
}
.facilities .slider__facilities-item {
  width: 100%;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.facilities .slider__facilities-number {
  font-weight: 700;
  font-size: 7em;
  line-height: 130px;
  color: rgba(34, 34, 34, 0.0392156863);
  align-self: flex-end;
}
.facilities .slider__facilities-img {
  width: 20%;
  margin-top: -60px;
}
.facilities .slider__facilities-title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 2em;
  line-height: 30px;
}
.facilities .slider__facilities-text {
  color: #777777;
  font-size: 1em;
  font-weight: 400;
  line-height: 24px;
}
@media only screen and (min-width: 900px) {
  .facilities {
    margin-top: 60px;
  }
  .facilities .slider__facilities {
    max-width: none;
  }
  .facilities .slider__facilities-wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .facilities .slider__facilities-item {
    max-width: 250px;
  }
}

.foods {
  font-family: "Archivo";
  font-size: 14px;
}
.foods__donut {
  text-align: right;
}
.foods__container {
  padding: 30px 20px;
  width: 100%;
  margin: auto;
}
.foods h5 {
  padding: 20px 0;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 2.8px;
  color: #777777;
}
.foods h1 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5em;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #222222;
  margin-bottom: 20px;
}
.foods__pagination-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}
.foods__pagination-button {
  position: relative;
  width: 32px;
  height: 32px;
  --swiper-navigation-size: 10px;
  background-color: #BDAC8D;
  color: #fff;
  right: 0;
  left: 0;
}
.foods__item {
  display: flex;
  gap: 20px;
  margin: 15px auto;
  max-width: 400px;
}
.foods__item-img {
  width: 110px;
  height: 110px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.foods__item-txt {
  width: 60%;
}
.foods__item-txt h1 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5em;
  line-height: 20px;
  letter-spacing: -0.72px;
  color: #222222;
}
.foods__item-txt p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8em;
  line-height: 20px;
  color: #222222;
}
.foods__item .eggs {
  background-image: url("../img/eggs.jpg");
}
.foods__item .tea {
  background-image: url("../img/tea.jpg");
}
.foods__item .chia {
  background-image: url("../img/chia-oatmeal.jpg");
}
.foods__item .fruit {
  background-image: url("../img/fruit.jpg");
}
.foods__item .marmalade {
  background-image: url("../img/marmalade.jpg");
}
.foods__item .cheese {
  background-image: url("../img/cheese.jpg");
}
.foods__slider {
  width: 80%;
  max-width: 400px;
}
.foods__slider-slide {
  height: auto;
  max-height: 300px;
}
.foods__slider-pagination {
  position: relative;
  margin-top: 24px;
  --swiper-theme-color: #BDAC8D;
}
@media only screen and (min-width: 800px) {
  .foods__donut {
    text-align: left;
  }
  .foods__donut img {
    transform: rotate(180deg);
  }
  .foods__pagination-wraper {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .foods__pagination-slide {
    width: 50%;
  }
  .foods__pagination-button {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  .foods__slider {
    max-width: none;
    width: 90%;
  }
  .foods__slider-wraper {
    gap: 20px;
    display: flex;
    justify-content: space-around;
  }
  .foods__slider-slide {
    width: 33%;
  }
}

/*# sourceMappingURL=styles.css.map */
