
.availability{
    font-family: 'Roboto';
    width: 100%;
    height: 354px;
    background-color: #222222;
    color: #FFFFFF;
    padding:1px;
    .availability__container{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 6px;
        & p{
            margin-top:36px;
        }
        & input{
            width: 100%;
            margin-top: 10px;
            border: none;
            color: #BEAD8E;
            background-color: #222222;
            border-bottom: 2px solid #BEAD8E;
            padding:14px;
            //Bajar opacidad de texto placeholder
            &[type="date"]::-webkit-calendar-picker-indicator{
                filter: invert(1);
                //Cambiar color calendario y ponerlo delante
            }
        }
        .availability__button{
            margin: 0 auto;
            background-color: #BEAD8E; 
            width: 250px;
            height: 60px;   
            margin-top:42px;  
            display: flex;
            justify-content: center; 
            align-items: center;
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 15px;
            letter-spacing: 2.8px;
            &:hover{
                border: 2px solid rgba(255, 255, 255, 0.33);
                background-color: #222222;
            }
        }
    }

    @media only screen and (min-width: 1000px) {
        height: 152px;
        .availability__container {
            display: flex;
            justify-content: center;
            width: 80%;
            margin-left: 300px;
            .availability__inputs{
                display: block;
                margin-right: 40px;
                & input {
                    width: 330px;
                }
            }
            .availability__button {
                width: 250px;
                height: 60px;
            }
        }
    }
}