.availability{
    font-family: 'Roboto';
    padding-bottom: 36px;
    background-color: #222222;
    color: #FFFFFF;
    &__form{
        width: 100%;
        text-align: center;
        & label {
            display: inline-block;
            margin-top: 36px;
            width: 270px;
            text-align: left;
        }
        .availability__input{
            padding: 5px;
            & input{
                width: 270px;
                border: none;
                color: #BEAD8E;
                background-color: #222222;
                border-bottom: 2px solid #BEAD8E;
                padding: 14px;
                &[type="date"]::-webkit-calendar-picker-indicator {
                    filter: invert(1);   
                }
            }                
        }
        .availability__submit {
            background-color: #BEAD8E;
            border: none;
            color: #fff;
            width: 240px;
            height: 60px;
            margin-top: 42px;
            font-family: 'Archivo';
            font-weight: 700;
            font-size: 14px; 
            letter-spacing: 2.8px;    }
        }   
    @media only screen and (min-width: 900px) {
        &__form {
            display: flex;
            gap: 30px;
            justify-content: center;
        }
        .availability__input {
            width: 30%;
        }
    }
}