.counter{
    text-align: center;
    padding: 20px;
    margin: auto;
    max-width: 850px;
    & h1, & h5{
        text-align: left;
    }
    &__facts{
        padding: 30px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        &-item{
            padding: 20px 10px;
            width: 255px;
            display: grid;
            column-gap: 10px;
            grid-template-columns: 20% 80%;
            background-image: url("../img/flecha.png");
            background-repeat: no-repeat;
            background-position: 210px center;
            & img{
                width: 100%;
            }
            & h1{
                grid-column: 2;
                font-family: 'Old Standard TT';
                font-weight: 400;
                font-size: 40px;
                letter-spacing: -1.8px;
                color: var(--primary-color);
            }
            & p{
                text-align: left;
                grid-column: 2;
                font-family: 'Archivo';
                font-weight: 400;
                font-size: 12px;
                color: var(--title-color);
            }
        }
    }
    & img{
        width: 100%;
        max-width: 500px;
    }
}