.discover{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    &__text{
        width: 100%;
        background: #F9F9F9;
        &-wraper{
            padding: 10% 20px;
            max-width: 600px;
            margin: auto;
            & p {
                font-family: 'Archivo';
                font-size: 0.85em;
                font-weight: 500;
                line-height: 24px;
                color: var(--title-color);
                margin-top: 16px;
            }
            & button {
                margin-top: 24px;
            }
        }
    }
    &__images{
        margin-top: 20px;
        & h1 {
            font-family: 'Old Standard TT';
            font-weight: 400;
            font-size: 2em;
            line-height: 30px;
            letter-spacing: -0.9px;
            margin-top: 30px;
        }
        & p {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 1em;
            line-height: 22px;
            margin-top: 21px;
        }
        &-item{
            padding: 40px 0px;
            width: 250px;
            height: 280px;
        }
        .discover__image1 {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-image: url("../img/reception.jpg");
        }
        .discover__team{
            text-align: center;
            background-image: url("../img/iconos_svg/backgroundTeam.svg");
            background-repeat: no-repeat;
            background-position: right 50px;
            color: #111;
            box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
        }
        .discover__image2{
            margin-top: 30px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-image: url("../img/luxury-room.jpg");
        }
        .discover__luxury{
            text-align: center;
            background-color: #222;
            color: #fff;
        }
    }
    @media only screen and (min-width: 600px) {
        &__text p{
            font-size: 1em;
        }
        &__images{
            display: grid;
            grid-template-areas: 50% 50% / 50% 50%;
            align-content: center;
            justify-content: end;
            font-size: 0.9em;
            gap:20px;
            &-item {
                width: 210px;
                height: 224px;
            }
            .discover__image1 {
                grid-column: 2;
                grid-row: 1;
            }
            .discover__image2{
                margin: 0;
            }
            .discover__team {
                grid-column: 1;
            }
        }
    }
    @media only screen and (min-width: 900px) {
        padding: 5% 0;
        &__text{
            width: 50%;
            align-self: center;
        }
        &__images{
            width: 50%;   
        }
    }
}