.facilities{
    padding: 10% 20px;
    text-align: center;
    .facilities__slider{
        font-family: 'Archivo';
        text-align: left;
        font-size: 1em;
        max-width: 250px;
        margin-top: 30px;
        &-slide{
            width: 100%;
            height: 300px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &-number{
            font-weight: 700;
            font-size: 7em;
            line-height: 130px;
            color: #2222220A;
            align-self: flex-end;
        }
        &-img{
            width: 20%;
            margin-top: -60px;
        }
        &-title{
            font-family: 'Old Standard TT';
            font-weight: 400;
            font-size: 2em;
            line-height: 30px;
            padding: 20px 0;
        }
        &-text{
            color: var(--title-color);
            font-size: 1em;
            font-weight: 400;
            line-height: 24px;
        }
        &-pagination{
            --swiper-theme-color: var(--tertiary-color);
        }
    }
    &-dark {
        background-color: var(--primary-color);
        & h1{
            color: #fff;
        }
    }
    .number-dark{
        color: var(--secondary-color);
    }
    @media only screen and (min-width: 900px) {
        .facilities__slider{
            max-width: none;
            &-wraper{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
            &-slide{
                max-width: 250px;
            }
        }
    }   
}