.footer {
    &__container{
        background-image: url("../img/iconos_svg/footer.svg");
        margin-top: 60px;
        font-size: 14px;
        padding: 30px 20px;
        font-family: 'Archivo';
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
    }
    &__text {
        max-width: 280px;
        font-weight: 400;
        font-size: 1em;
        line-height: 26px;
        color: #777777;
        .footer__icon {
            margin-left: 10px;
            margin-top: 20px;
            border: 8px solid #F8F8F8;
        }
    }
    &__title {
        padding: 20px 0;
        font-family: 'Old Standard TT';
        font-weight: 400;
        font-size: 1.7em;
    }
    &__service {
        margin: 0 auto;
        height: 250px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size:0.9em;
        line-height: 40px;
        column-count: 2;
        column-gap: 19px;
        column-fill: auto;
        color: #777777
    }
    &__contact {
        .footer__box {
            display: flex;
            align-items: center;
            padding: 15px;
            & img {
                height: 40px;
                width: 40px;
            }
            &-title {
                font-family: 'Old Standard TT';
                font-size: 1.2em;
                line-height: 20px;
                padding-left: 20px;
            }
            &-subtitle {
                font-family: 'Archivo';
                font-size: 0.75em;
                color: #777777;
            }
        }
    }
    &__copyright {
        padding: 10px 20px;
        background-color: #F8F8F8;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: -0.48px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-links {
            display: flex;
            gap: 10px;
            & a {
                text-decoration: none;
                color: #222222;
            }
        }
    }
          @media only screen and (max-width: 478px) {
              &__copyright-links{
                margin-top: 20px;
              }
          }
}
 