.presentation{
    width: 100%;
    background-color: #333333;
    color: #FFFFFF;
    font-size: 14px;
    &__container{
        margin-left: 20px;
        padding: 75px 0;
        & p:first-child {
            font-family: 'Archivo';
            font-weight: 700;
            font-size: 0.9em;
            line-height: 1.5em;
            letter-spacing: 2.8px;
        }
        & p {
            font-family: 'Old Standard TT';
            font-weight: 400;
            font-size: 3.5em;
            line-height: 1.2em;
            letter-spacing: -1.2px;
            margin-top: 40px;
        }
        & button {
                font-family: 'Archivo';
                width: 217px;
                height: 60px;
                font-weight: 700;
                font-size: 1em;
                letter-spacing: 2.8px;
                border: none;
                color: #FFFFFF;
            }
       .presentation__tour {
            margin-top: 40px;
            background-color: #BEAD8E;
        }
        .presentation__learn {
            margin-top: 24px;
            background-color: #333333;
            border: 2px solid rgba(255, 255, 255, 0.33);
        }
    }
    @media only screen and (min-width: 450px) {
        &__container {
            & p {
                font-size: 4em;
            }
        }
    }
    @media only screen and (min-width: 500px) {
        .presentation__learn {
            margin-left: 2%;
        }
    }
    @media only screen and (min-width: 600px) {
        &__container {
            & p {
                font-size: 5em;
            }
        }
       
    }
    @media only screen and (min-width: 800px) {
        &__container{
            width: 70%;
            margin: auto;
            & p:first-child {
                margin-top: 100px;
            }
        }
    }
}

  