@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}
:root{
    --primary-color: #222222;
    --secondary-color: #333333;
    --tertiary-color: #BEAD8E;
    --title-color: #777777;
}
header {
    font-family: 'Archivo';
    font-size: 16px;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #fff;

    & a {
        text-decoration: none;
        color: #000;
    }
}
.title {
    display: none;
}
.menu-div {
    display: none;
    &-active {
        display: block;
        width: 100%;
        line-height: 2em;
        padding: 10px;
        & p {
            margin-left: 20px;
            font-weight: 600;
            font-size: 1em;
        }
    }
}
.section{
    font-family: 'Archivo';
    font-size: 14px;
}
.section__title{
    font-family: 'Archivo';
    font-size: 0.9em;
    color: var(--title-color);
    letter-spacing: 2.8px;
    font-weight: 700;
}
.section__headline{
    font-family: 'Old Standard TT';
    font-weight: 400;
    font-size: 3.2em;
    line-height: 60px;
    letter-spacing: -1.2px;
    margin-top: 30px;
}
.button{
    width: 217px;
    height: 60px;
    font-family: 'Archivo';
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 2.8px;
    border: none;
    color: #fff;
    background-color: var(--tertiary-color);
}
@media only screen and (min-width: 800px) {
    header {
        background-color: #000;
        height: 60px;
    }
    .title {
        display: block;
        width: 80%;
        margin: auto;
        color: #fff;
        font-size: 0.9em;
        padding: 5px 0;
    }
}

@import 'navbar';
@import 'presentation';
@import 'availability';
@import 'discover';
@import 'footer';
@import 'rooms';
@import 'video';
@import 'facilities';
@import 'foods';
@import 'projects';
@import 'contact';
@import 'map';
@import 'contact-form';