.video{
    background: var(--primary-color);
    &__wraper{
        padding: 30px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__text{
        max-width: 400px;
        & h5 {
            color: var(--tertiary-color);
        }
        & h1 {
            color: #fff;
        }
        & p {
            font-weight: 400;
            font-size: 0.85em;
            line-height: 24px;
            color: #C2C2C2;
        }
    }
    
    &__media{
        margin-top: 30px;
        max-width: 400px;
    }
    & button {
       display: flex;
       margin: auto;
       align-items: center;
       justify-content: center;
    }
    @media only screen and (min-width: 900px) {
        background: linear-gradient(to right, var(--primary-color) 0%, var(--primary-color) 70%, var(--tertiary-color) 70%, var(--tertiary-color) 100%);
        &__wraper{
            gap: 50px;
            justify-content: center;
        }
        &__text{
            width: 35%;
        }
        &__media{
            width: 40%;
        }
    }
}