.video{
    background: #222222;
    font-size: 14px;
    font-family: 'Archivo';
    &__container{
        padding: 30px 20px;
        display: flex;
        flex-wrap: wrap;
    }
    & h5{
        color: #BDAC8D;
        font-size: 1em;
        font-weight: 700;
        letter-spacing: 2.8px;
    }
    & h1{
        padding: 20px 0;
        font-family: 'Old Standard TT';
        color: #fff;
        font-weight: 400;
        font-size: 3.5em;
        line-height: 60px;
        letter-spacing: -1.2px;
    }
    & p{
        font-weight: 400;
        font-size:0.85em;
        line-height: 24px;
        color: #C2C2C2;
    }
    &__media{
        width: 100%;
    }
    & button {
        width: 200px;
        height: 50px;
        border: none;
        background-color: #BDAC8D;
        font-weight: 700;
        font-size: 1em;
        line-height: 15px;
        letter-spacing: 2.8px;
        color: #FFFFFF;
        margin-top: 24px;
    }
    
}